<!DOCTYPE html>
<html>
<head>
    <title>Text to Speech</title>
</head>
<body>
    <h2>Enter Text for Speech</h2>
    <form action="/generate-audio" method="post">
        <textarea name="text" rows="6" cols="50" placeholder="Enter text here..."></textarea><br>
        <label for="voice">Choose a voice:</label>
        <select name="voice">
            {% for model in voices %}
                 <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Generate Audio</button>
    </form>
</body>
</html>
