<!DOCTYPE html>
<html>
<head>
    <title>Webpage to Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="page-title">Enter New Yorker URL for Speech</h2>
    <form action="/generate-audio-from-article" method="post">
        <input type="text" name="url" placeholder="Enter webpage URL" size="50"><br>
        <label for="voice">Choose a voice:</label>
        <select name="voice">
            {% for model in voices %}
                <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Generate Audio</button>
    </form>
</body>
</html>
